<style>
   .glyphicon{
    font-size:130px;
    color:#22313F;
    display:inline;
    padding:0px;
   }
   .home-bulleting-heading{
    position: relative;
    left:170px;
    top:-140px;
    padding:0px;
   }
   .panel{
    position: relative;
    
    padding:0px;
    width:100%;
   } 
   .panel{
    margin-bottom:0px;
   }
   #main-jumbotron{
     
     background-color:#f8f8f8;
    color:#363636;
    
    border-top:none;
    margin-bottom:0px;
   }
   .col-md-6{
    padding:0px;
   }
   .container-fluid{
    padding:2px;
   }
   .btn{
    border-radius:0px;
   }
   .panel-heading{
       background-color:#22313F;
   }
   .panel-title{
    color:#ffffff;
    text-align: center;
   }
   

</style>
<ul class="nav nav-tabs" style="background-color:#22313F;border-bottom:none">
    
    <li role = "presentation" ><a href="#/studentattendance">Attendance</a></li>
    <li role = "presentation" ><a href="#/uploadassignments">Upload Assignment</a></li>
    <li role = "presentation" ><a href="#/updatemarks">Update Marks</a></li>
    <li role = "presentation" ><a href="#/viewmarks">View Marks</a></li>
    <li role = "presentation"><a href="#/updateattendance">Update Attendance</a></li>



  
  
</ul>
<div class="jumbotron" id="main-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img src="img/myDP.jpg" class='img-responsive img-circle' style="max-height:150px;max-width:150px">
  
     </div>
     <div class="col-lg-6">
      <h2>Hello, Pranay!</h2>
  <p style="font-size:15px" class="text-danger">Your designation: Asst.Professor</p>
  <p style="font-size:20px">Subjects you handle: <span class="badge">JAVA</span>&nbsp<span class="badge">PW LAB</span></p>
</div>
<div class="col-lg-2">
  
</div>  
</div>
</div>
</div>

<div class="row">
    <div class="col-md-6" style="background-color:#f8f8f8">

      <div class="container-fluid">
        <div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Student details</h2>
  </div>
  
</div>
       <div class="jumbotron" style="padding-bottom:20px;background-color:#d9edf7">
        <span class="glyphicon glyphicon-user"></span>
        <div class="home-bulleting-heading">
        <h3 class="text-warning" style="color:#E87E04">Student details</h3>
        <ul>
          <li>Check student details</li>
          <li>Check class details</li>
          <li>Compare student performance</li>
        </ul>
      </div>
      <div class="form-group" style="position:relative;bottom:20px;width:350px;margin:0px">
    
    <input type="text" class="form-control" placeholder="Student search"><button type="submit" class="btn btn-primary" style="position:relative;top:-33px;left:370px">Search</button>
    
  </div>
      
      </div>
     </div> 
    </div>

    <div class="col-md-6" style="background-color:#f8f8f8">
      <div class="container-fluid">
        <div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Attendance</h2>
  </div>
  
</div>
       <div class="jumbotron" style="background-color:#dff0d8">
        <span class="glyphicon glyphicon-edit"></span>
        <div class="home-bulleting-heading">
        <h3 class="text-warning" style="color:#E87E04">Attendance</h3>
        <ul>
          <li class="text-wrap">Check attendance of a particular student</li>
          <li>Check class attendance</li>
          <li>Mark attendance for a class</li>
        </ul>
      </div>
      <div style="position:relative;bottom:20px">
      <button type="button" class="btn btn-danger">View Attendance</button>
      <button type="button" class="btn btn-success">Mark Attendance</button>
    </div>
      </div>
     </div> 
    </div>

    



  </div>

<div class="row">
    <div class="col-md-6" style="background-color:#f8f8f8">
      <div class="container-fluid">
        <div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Assignments</h2>
  </div>
  
</div>
         <div class="jumbotron" style="background-color:#f2dede">
         <span class="glyphicon glyphicon-file"></span>
         <div class="home-bulleting-heading">
        <h3 class="text-warning" style="color:#E87E04">Assignments</h3>
        <ul>
          <li>Upload asignments for a particular subject</li>
          <li>View submissions</li>
          <li>Evaluate submissions</li>
        </ul>
      </div>
      <div style="position:relative;bottom:20px">
      <button type="button" class="btn btn-primary">Upload Assignments</button>
      <button type="button" class="btn btn-warning">View Submissions</button>
      <button type="button" class="btn btn-success">Update Submissions</button>
    </div>

         </div>
       </div>
    </div>

    <div class="col-md-6" style="background-color:#f8f8f8">
      <div class="container-fluid">
        <div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">IA Marks</h2>
  </div>
  
</div>
       <div class="jumbotron" style="background-color:#fcf8e3">
        <span class="glyphicon glyphicon-folder-open"></span>
        <div class="home-bulleting-heading">
        <h3 class="text-warning" style="color:#E87E04">IA Marks</h3>
        <ul>
          <li>View Student Marks</li>
          <li>Update Student Marks</li>
          <li>Evaluate Student performance</li>
        </ul>
      </div>
      <div style="position:relative;bottom:20px">
      <button type="button" class="btn btn-success">View and update student marks</button>
      
      <button type="button" class="btn btn-info">Evaluate performance</button>
    </div>
      </div>
     </div> 
    </div>

    



  </div>  
  <!--<div class="row">
    <div class="col-md-6" style="background-color:#f8f8f8">
      <div class="container">
         <div class="jumbotron">
         <span class="glyphicon glyphicon-user"></span>
         <div class="home-bulleting-heading">
        <h3 class="text-primary">Student details</h3>
        <ul>
          <li>Check student details</li>
          <li>Check class details</li>
        </ul>
      </div>

         </div>
       </div>
    </div>

    <div class="col-md-6" style="background-color:#f8f8f8">
      <div class="container">
       <div class="jumbotron">
        <span class="glyphicon glyphicon-user"></span>
        <div class="home-bulleting-heading">
        <h3 class="text-primary">Student details</h3>
        <ul>
          <li>Check student details</li>
          <li>Check class details</li>
        </ul>
      </div>
      </div>
     </div> 
    </div>

    



  </div>  -->


  <!--<div class="jumbotron" style="background-color:#f8f8f8;border-bottom:1px solid #363636">
  	<div class="row">
  		<div class="col-md-3">

  		</div>
  		<div class="col-md-2">
   <img src="img/myDP.jpg" class="img-circle img-responsive " style="max-height:100px;max-width:100px;display:inline"/>
   
</div>
<div class="col-md-7">
	<h3>Pranay V Kalro</h3>
	<p class="text-danger">Asst. Professor</p>
	<p class="text-primary">Subjects: &nbsp<span class="badge">10cs71</span>&nbsp &nbsp<span class="badge">10csl75</span></p> 


	</div>

     </div>
  </div>-->

