<style>
.row{
	margin-right: 0px;
	margin-left:0px;
	width:100%;
}
.jumbotron{
	
}
.glyphicon:hover{
	text-decoration: none;
    background-color:#E87E04;
    color:#ffffff;
    border:none;
}
.glyphicon:active{
	 border:none;
      color:#F5F7FA;
      background-color: #E87E04
}
.thumbnail{

}
.thumbnail>.caption>.glyphicon{
	font-size:100px;
	left:80px;
}
.thumbnail>.caption>.list-unstyled>li>.btn{
	width:100%;
	line-height: 15px;
	margin:4px;
}
.thumbnail>.caption>h3{
	text-align:center;
}

</style>
<div class="container-fluid">


<div class="container-fluid" style="height:50px;padding:10px">
<div class="row">
                  <div class="col-sm-8" style="padding:0px">
                        <img src="img/myDP.jpg" class="img-responsive img-rounded" style="max-height:30px;max-width:30px;margin-right:0px;display:inline">
                        <h3 class="text-primary" style="color:#363636;left:50px;top:-50px;position:relative;padding:0px">Pranay V Kalro</h3>
                        
                  </div>

                  <div class="col-sm-4" style="padding-left:0px;margin-left:0px">
                     
                  	<button type="button" class="btn btn-warning" style="line-height:10px;">Check Schedule</button>
                  	<a href="#"><span class="glyphicon glyphicon-menu-hamburger" style="font-size:23px;margin-left:50px;color:#363636"></span></a>
                  	<a href="#"><span class="glyphicon glyphicon-bell" style="font-size:23px;margin-left:50px;color:#363636"></span></a>


                     

                  </div>


             </div>
         </div>

   <div class="jumbotron" style="background-image:url('img/book-recommendation3.jpg');height:400px;margin-bottom:0px">
   	<h1 style="color:#ffffff;text-align:center;position:relative;top:80px">Hello, Pranay</h1>
   	   <div class="row" style="position:relative;top:80px">
  <div class="col-lg-12">
    <div class="input-group">
      <div class="input-group-btn">
         <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-default" uib-dropdown-toggle>Subject<span class="caret"></span></button>
      
      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#">10cs71</a></li>
        
        <li class="divider"></li>
        <li role="menuitem"><a href="#">10csl75</a></li>
      </ul>
    </div>
 
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="..." placeholder="Enter student usn or full name">
      <div class="input-group-btn">
           <button type="button" class="btn btn-warning">Search</button>

      </div>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-10 -->
  
  
</div><!-- /.row -->
   	
       

   </div>
    <div class="jumbotron">
   	
       <div class="row">

             <div class="col-lg-3">
                  <div class="thumbnail">
      
      <div class="caption">
        
        <span class="glyphicon glyphicon-user" style="color:#22313F"></span>
        <h3 class="text-primary">Student details</h3>
        <ul>
          <li>Check student details</li>
          <li>Check class details</li>
          <li>Compare student performance</li>
        </ul>
        <ul class="list-unstyled">
        <li><button type="button" class="btn btn-primary">Check student details</button></li>
        
      
      <li><button type="button" class="btn btn-default">Check class details</button></li>
  </ul>
      </div>
    </div>

             </div>
             <div class="col-lg-3">
             	<div class="thumbnail">
      
      <div class="caption">
        
        <span class="glyphicon glyphicon-edit" style="color:#446CB3"></span>
        <h3 class="text-primary">Attendance</h3>
        <ul>
          <li class="text-wrap">Check student attendance</li>
          <li>Check class attendance</li>
          <li>Mark attendance for a class</li>
        </ul>
        <ul class="list-unstyled">
        <li><button type="button" class="btn btn-primary">View Attendance</button></li>
        
      
      <li><button type="button" class="btn btn-default">Mark Attendance</button></li>
  </ul>
      </div>
    </div>
                   

             </div>
             <div class="col-lg-3">
                     <div class="thumbnail">
      
      <div class="caption">
        
        <span class="glyphicon glyphicon-file" style="color:#663399"></span>
        <h3 class="text-primary">Assignments</h3>
        <ul>
          <li>Upload asignments</li>
          <li>View submissions</li>
          <li>Evaluate submissions</li>
        </ul>
        <ul class="list-unstyled">
        <li><button type="button" class="btn btn-primary">Upload Assignments</button></li>
        
      
      <li><button type="button" class="btn btn-default">Update submissions</button></li>
  </ul>
      </div>
    </div>

             </div>
             <div class="col-lg-3">
                      <div class="thumbnail">
      
      <div class="caption">
        
        <span class="glyphicon glyphicon-folder-open" style="color:#E74C3C"></span>
        <h3 class="text-primary">IA Marks</h3>
        <ul>
          <li>View Student Marks</li>
          <li>Update Student Marks</li>
          <li>Evaluate Student performance</li>
        </ul>
        <ul class="list-unstyled">
        <li><button type="button" class="btn btn-primary">View and update marks</button></li>
        
      
      <li><button type="button" class="btn btn-default">Evaluate performance</button></li>
  </ul>
      </div>
    </div>

             </div>


       </div>

   </div>
</div>   